body{
    background-color: #fadefa;
    font-family: sans-serif;
}

.container{
    padding:10px;
    max-width:500px;
    margin:100px auto;
    background-color: #fd7e14;
    color:white;
    border-radius:10px;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
form label{
    font-size:25px;
    margin-bottom: 10px;
}
form input{
    padding:10px;
    border-radius:10px;
}
form select{
    padding:10px;
    border:none;
    border-radius: 10px;;
}
form button{
    padding:8px;
    background-color:black;
    border:none;
    border-radius: 10px;
    margin-top:10px;
    font-size:10px;
    color:white;
}